@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Open+Sans:wght@400;600&display=swap');

.container {
    width: 100%;
}

:root {
    --primary-color: #F8F3EF;
    --secondary-color: #511624;
    --tertiary-color: #A55B25;
    --accent-color: #6A8FB1;
}

h1, h2 {
    font-family: 'Marcellus', serif;
}

h3, h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 23px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* For Mobile */

/* NAV FOR MOBILE HERE */
.navigation {
    background: var(--secondary-color);
    /* text-align: center; */
    padding: 1em;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navigation a {
    color: var(--primary-color);
    text-decoration: none;
}

.navigation a:hover {
    color: var(--accent-color);
    cursor: pointer;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span {
    color: var(--primary-color);
    font-size: 2em;
}

.nav-toggle-label span:hover {
    color: var(--accent-color);
    cursor: pointer;
}

nav {
    position: absolute;
    text-align: center;
    top: 100%;
    left: 0;
    background: var(--secondary-color);
    width: 100%;
    transform: scale(1, 0);
    transition: transform 400ms ease-in-out;
    transform-origin: top;
}

nav ul {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
   /* padding-top: 2em; */
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
    padding: 1.5em 0;
    /* font-size: 24px; */
}

nav a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.3rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: var(--accent-color);
}

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}


/* ABOUT SECT FOR MOBILE HERE */
.hero {
    background-image: url(project-images/mobile-hero2.jpg);
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*   background-attachment: fixed; */
    position: relative;
}

.hero-content {
    background: rgba(81, 22, 36, .85);
    align-items: center;
    position: absolute;
    /* top: 227px; */
    bottom: 0;
    width: 100%;
    padding: 2em 2em;
}

.hero-content h1 {
    color: var(--primary-color);
    text-align: center;
}

.hero-btn {
    display: block;
    margin: 0 auto;
    margin-top: 1.5em;
}

/* The register button css applies to all register buttons on the site! */
.register-button {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
}

.register-button:hover {
    background-color: var(--accent-color);
    cursor: pointer;
}

.register-button a {
    text-decoration: none;
    color: var(--primary-color);
}

/* ABOUT SECT FOR MOBILE HERE */
.about {
    background-color: var(--primary-color);
    padding: 30px 20px;
    display: block;
}

.about p {
    margin-top: 1em;;
}

.about img {
    width: 80%;
    flex-shrink: 0;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

/* EVENT DETAILS SECTION FOR MOBILE */
.event-details {
    background-color: var(--primary-color);
    padding: 30px 20px;
    display: block;
}

.details-box {
    background-color: var(--tertiary-color);
    width: 100%;
    height: 141px;
    flex-shrink: 0;
    border-radius: 5px;
    padding: 10px 22px;
    margin-top: 1em;
}

.details-box h3 {
    color: var(--primary-color); 
    text-align: center;
}

.details-box p {
    color: var(--primary-color);
    text-align: center;
    margin-top: .5em;
}

.google-map {
    margin: 2em 0;
}

.schedule h2 {
    margin-bottom: 20px;
}

.schedule h4 {
    margin-bottom: 20px;
}

.list-item {
    display: flex;
    /* grid-template-columns: repeat(2, 1fr);
    gap: 75px; */
    margin-bottom: 33px;
}

.time {
    width: 85px;
    margin-right: 10px;
    font-weight: 600;
}

.activity {
    width: 275px;
}

.parking h2 {
    margin-bottom: 20px;
}

.parking p {
    margin-bottom: 20px;
}

.parking-btn {
    margin-bottom: 20px;
}

.accomidations h2 {
    margin-bottom: 20px;
}

.accomidations p {
    margin-bottom: 20px;
}

.acc-btn {
    margin-bottom: 45px;
}


/* MEDIA QUEREY FOR DESKTOP */

@media screen and (min-width: 980px) {
    .nav-toggle-label {
        display: none;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 3%;
        padding-right: 3%;
    }

    nav {
        all: unset;
    }

    nav ul {
        height: inherit;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    /*   add line baove or below selection on hover */

    nav a::before {
        content: "";
        display: block;
        height: 4px;
        background: var(--accent-color);
        position: absolute;
        bottom: -0.5em;
        left: 0;
        right: 0;

        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
        transform-origin: right;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }

    /*   contents */
    .hero {
        background-image: url(project-images/desktop-hero.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 70vh;
        flex-shrink: 0;
        position: relative;
    }

    .hero-content {
        background: rgba(81, 22, 36, .85);
        position: absolute;
        left: 0;
        /* top: 50%; */
        width: 45%;
        padding: 25px 72px 25px 150px;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        gap: 25px;
        flex-shrink: 0;
    }

    .hero-content h1 {
        color: var(--primary-color);
        text-align: left;
        font-size: 48px;
    }

    .hero-btn {
        /* display: block;
        margin: 0 auto; */
        margin-top: 1.5em;
    }
}